.venv
.env
__pycache__
.pytest_cache
.python-version
*.egg-info/
*.duckdb
*.parquet
tpch_csv/
data/*.duckdb
data/*.parquet
data/*.sql
data/logs
outputs/*
!outputs/.gitkeep
.agents/
project-ex-pdf/
skills-lock.json
conversation.md